---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import ViewPage from "../../components/ViewPage.astro";
---

<Layout title="Welcome to Astro.">
  <main transition:name="hero">
    <Navbar />
    <ViewPage
      Title="La llamada de Cthulhu"
      Description="La historia de un monstruo ancestral que amenaza con revivir y dominar el mundo."
      Author="H.P. Lovecraft"
      ImgPage="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
    />
  </main>
</Layout>
