---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import ViewPage from "../../components/ViewPage.astro";
---

<Layout title="Welcome to Astro.">
  <main transition:name="hero">
    <Navbar />
    <ViewPage
      Title="Drácula"
      Description="La historia del infame conde Drácula y su intento de mudarse de Transilvania a Inglaterra."
      Author="Bram Stoker"
      ImgPage="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1387151694i/17245.jpg"
    />
  </main>
</Layout>
